/*   Hoja de Estilos Biografía    */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, sans-serif;
}
/*        Estilo imágenes       */
.foto {
  width: 100%;
  text-align: center;
}
/*   Estilo leyenda imágenes   */
.leyenda {
  font-size: 10px;
  margin: 10px 0px 10px 0px;
}
/*      Texto destacado       */
.destacado {font-weight: bold; 
}
/*      Estilo del texto     */
.bio {
  font: "Open Sans";
  font-size: 18px;
  color: black;
  text-align: justify;
  padding: 10px;
}


/* De aquí para abajo revisar  */

a {
  text-decoration: none;
}

body {
  /* background-image: url('http://clipart-library.com/images/Biaro4B6T.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5px;
}

h2 {
  color: black;
  background-color: lightgray;
}

section {background-color: rgba(6, 200, 249, 0.5);
}

footer {background-color: rgba(6, 200, 249, 0.5);
}

.section-title {font Arial;
font-size: 48px;
margin: 0;
padding: 15px 25px;
}




.fondo {
  background-color: rgba(208, 208, 225, 0.85);
}
/* Estilizado de la imagen que está en el header */
