/*   Hoja de Estilos Biografía    */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, sans-serif;
  background-color: lightblue;
}
/*        Estilo imágenes       */
.foto {
  width: 100%;
  text-align: center;
}
/*   Estilo leyenda imágenes   */
.leyenda {
  font-size: 10px;
  margin: 10px 0px 10px 0px;
}
/*      Texto destacado       */
.destacado {font-weight: bold; 
}
/*      Estilo del texto     */
.bio {
  font: "Open Sans";
  font-size: 18px;
  color: black;
  text-align: justify;
  padding: 10px;
}

.bio h2 {
  text-align: center;
}

.music {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
}

.singer {
  text-align: center;
}

.singer img {
  width: 150px;
  margin: 10px;
  border-radius: 10px;
}

.singer-name {
  font-size: 10px;
  font-style: bold;
}

.song-title {
  font-size: 12px;
  font-style: bold italic;
}

.song-writer {
  font-size: 9px;
  font-style: normal italic;
}

