/*.  Hoja de Estilos Proyecto Rick & Morty.   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: yellowgreen;
  background-image: url('https://thumbs2.imgbox.com/16/b7/8aKCFNFe_t.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container, header, main, footer {
  background-color: rgba(179, 255, 255, 0.2);
}

h2 {
  background-color: rgba(179, 255, 255, 0.6);
  text-align: center;
  margin: 10 px 5 px 10 px 5 px;
  padding: 5px;
  border-radius: 5px;
}

.container {
  /* background-color: violet; */
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  background-color: tomato;
  padding: 30px;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  margin: 10px;
}

.grid-item img {
  width: 120px;
  border-radius: 50%;
}

.texto, .bio {
  font: "Open Sans";
  font-size: 18px;
  color: black;
  text-align: justify;
  padding: 20px;
}

.destacado {
  font-weight: bold; 
}