/*.  Hoja de Estilos Proyecto Rick & Morty.   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Calibri, Serif;
}

body {
  background-image: url('https://thumbs2.imgbox.com/16/b7/8aKCFNFe_t.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header, main, footer {
  margin: 5px;
  padding: 5px;
  background-color: rgba(133, 133, 173, 0.5);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#enc-img {
  width: 150px;
}

#enc-logo {
  width: 250px;
}

.container {
  background-color: rgba(0, 204, 204, 0.5);
}

h2 {
  background-color: rgba(179, 255, 255, 0.6);
  text-align: center;
  margin: 10 px 5 px 10 px 5 px;
  padding: 5px;
  border-radius: 5px;
}

.sinopsis {
  display: flex;
  flex-wrap: wrap;
}

.container {
  padding: 30px;
  display: flex;
  /* La siguiente propiedad hace que el contenido vaya a la siguiente fila si se supera el ancho del contenedor */
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  background-color: tomato;
  padding: 30px;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  margin: 10px;
}

.grid-item img {
  width: 120px;
  border-radius: 50%;
}

.texto, .bio {
  font: "Open Sans";
  font-size: 18px;
  color: black;
  text-align: justify;
  padding: 20px;
}

.destacado {
  font-weight: bold; 
}

.menu-button {
  padding: 5px;
  margin: 5px;
  color: black;
  border-radius: 5px;
  background-color: rgba(179, 255, 255, 0.6);
  border: double;
}

nav button a {
  text-decoration: none;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer div ul {
  list-style: none;
}

footer div ul a {
  text-decoration: none;
}